html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary-dark-blue: hsl(233, 26%, 24%);
  --primary-lime-green: hsl(136, 65%, 51%);
  --primary-bright-cyan: hsl(192, 70%, 51%);
  --neutral-grayish-blue: hsl(233, 8%, 62%);
  --neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --neutral-very-light-gray: hsl(0, 0%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
  --body-font-size: 18px;
}

@font-face {
  font-family: publicSans;
  src: url(PublicSans-VariableFont_wght.ttf);
  font-weight: 300, 400, 700;
}

h1 {
  font-size: 56px;
  font-family: publicSans;
}
h2 {
  font-size: 40px;
  font-family: publicSans;
}
h3 {
  font-size: 28px;
  font-family: publicSans;
}
h4 {
  font-size: 22px;
  font-family: publicSans;
}
h5 {
  font-size: 18px;
  font-family: publicSans;
}
p {
  font-size: 16px;
  font-family: publicSans;
  color: var(--neutral-grayish-blue);
}
small {
  font-size: 10px;
  font-family: publicSans;
}

li {
  font-family: publicSans;
}
body {
  width: 1440px;
  margin: auto;
}
/*nav bar*/

.nav-container {
  width: 100%;
  background-color: var(--neutral-white);
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 4;
}

.nav-container > nav {
  width: 465px;
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-around;
}
/* .menu > li {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  padding: 16px;
  font-size: 14px;
  font-family: publicSans;
  color: var(--neutral-grayish-blue);
  font-weight: 400;
} */

.menu-item > li {
  font-size: 14px;
  font-family: publicSans;
  color: var(--neutral-grayish-blue);
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  width: 60px;
  align-items: center;
  padding: 16px;
}

.underline-gradient {
  height: 5px;
  width: 60px;
  background-image: linear-gradient(
    to right,
    var(--primary-lime-green),
    var(--primary-bright-cyan)
  );
  position: relative;
  bottom: -150%;
  display: none;
}

.menu-item > li:hover + .underline-gradient {
  cursor: pointer;
  font-weight: 700;
  display: block;
}

.button-invite {
  color: var(--neutral-white);
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    var(--primary-lime-green),
    var(--primary-bright-cyan)
  );
  font-size: 14px;
  font-family: publicSans;
  padding: 12px 26px;
}

.button-invite:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/*banner*/

.banner {
  width: 100%;
  background-color: var(--neutral-very-light-gray);
  height: 630px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: clip;
  z-index: 1;
}

.banner-left {
  height: 340px;
  width: 470px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  padding: 0 8% 0;
}

.banner-left > h1 {
  line-height: 1.2;
}

.banner-left > p {
  line-height: 1.4;
}

.img-bg-design {
  position: relative;
  bottom: 50%;
  transform: translateY(2%) translateX(20%);
  height: 900px;
  z-index: 2;
}

.img-mockup {
  position: relative;
  bottom: 50%;
  transform: translateY(2%) translateX(22%);
  height: 900px;
  z-index: 3;
}

/*why section*/

.why-section {
  width: 100%;
  background-color: var(--neutral-light-grayish-blue);
  height: 720px;
  display: flex;
  flex-direction: column;
  padding: 100px 120px;
  justify-content: space-between;
  box-sizing: border-box;
}
.why-section-heading {
  width: 660px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.why-section-heading > h2,
p {
  line-height: 1.4;
}

.why-cards-container {
  display: flex;
}

.why-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 280px;
  width: 400px;
  margin: 0 20px 0 0;
  justify-content: space-between;
}

/*latest articles section*/

.latest-articles-container {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--neutral-very-light-gray);
  display: flex;
  flex-direction: column;
  padding: 60px 120px 90px;
  justify-content: space-between;
  height: 630px;
}

.article-card-container {
  display: flex;
}

.article-card {
  background-color: var(--neutral-white);
  width: 100%;
  height: 390px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  overflow: hidden;
}
.article-card > img {
  height: 385px;
  object-fit: cover;
  overflow: hidden;
}

.article-card > * {
  color: var(--neutral-grayish-blue);
}
.article-text > h5 {
  color: var(--primary-dark-blue);
  font-weight: 400;
}

.article-text > p {
  font-size: 14px;
}

.article-text {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  height: 385px;
  justify-content: space-evenly;
}

/*footer*/

footer {
  width: 100%;
  background-color: var(--primary-dark-blue);
  padding: 50px;
  color: var(--neutral-white);
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.footer-logo-icons-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 85px;
  justify-content: space-between;
  padding-left: 100px;
}

.social-media-icons {
  display: flex;
  justify-content: space-evenly;
}

.links-container {
  width: 350px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.links-footer > * {
  font-size: 14px;
}

.links-footer {
  display: flex;
  flex-direction: column;
  height: 85px;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 140px;
}

.button-footer-container {
  display: flex;
  flex-direction: column;
  height: 85px;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 120px;
}
